<launch>

    <!-- args -->
    <arg name="rvizconfig" default="$(find nav_mec)/rviz/view.rviz" />
    
    <!-- tf node -->
    <node pkg="mecanumLoc" type="location_tf.py" name="location_viewer" output="screen"/>

    <!-- location node -->
    <node pkg="mecanumLoc" type="mecanumEnc" name="localization" output="screen"/>

    <!-- Navigation node -->
    <node pkg="nav_mec" type="navMec_node" name="navMec_node" output="screen">
        <!-- DEBUG_MODE for navigation -->
        <param name="debugmode" type="bool" value="true"/>

        <!-- Toggle the offset usage -->
        <!-- Offset = a * distance + b -->
        <param name="usingoffset" type="bool" value="false"/>   
        <param name="offset_x_a" type="double" value="0.03"/> 
        <param name="offset_x_b" type="double" value="0."/>
        <param name="offset_y_a" type="double" value="0."/>
        <param name="offset_y_b" type="double" value="0."/>
        <param name="offset_z_a" type="double" value="0."/>
        <param name="offset_z_b" type="double" value="0."/>

        <!-- Toggle basic car accel and slow down constant -->
        <param name="carConst" type="bool" value="false"/>

        <!-- P gain constant for P controller -->
        <param name="pgain" type="double" value="0.6"/>

        <!-- Car linear and angular max speed -->
        <param name="carSpeedMax" type="double" value="0.7"/>
        <param name="carOmegaMax" type="double" value="1.2"/>

        <!-- Car linear and angular acceleration -->
        <param name="carAccel" type="double" value="0.15"/>
        <param name="carAlpha" type="double" value="0.5"/>

        <!-- Car linear and angular tolerated error -->
        <param name="carErrorLinear" type="double" value="0.01"/>
        <param name="carErrorAngular" type="double" value="0.04"/>

        <!-- Constant for ACCEL to SLOWDOWN linear -->
        <param name="bpLinear" type="double" value="2."/>

        <!-- Constant for ACCEL to SLOWDOWN angular -->
        <param name="bpAngular" type="double" value="1.5"/>

        <!-- Constant for SLOWDOWN to PCONTROL -->
        <param name="pcontrolconst" type="double" value="0.75"/>
    </node>

    <!-- Encoder simulation -->
    <node pkg="mecanumLoc" type="test.py" name="encoder_node"/>

    <!-- RViz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" required="true"/>

</launch>